.conteudo-avaliacao {
  display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin-top: -25px;
    padding: 20px;
    justify-content: flex-start;
    background-color: #f1f5f9;
    box-sizing: border-box
}

.card-avaliacao {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 1.5em;
  margin-bottom: 1rem;
  box-sizing: border-box;
  background-color: white;
  width: 100%;
  transition: transform 0.2s;
  text-align: left;
}

@media (max-width: 720px) {
  .quill {
    height: 250px !important;
  }
}