.conteudo-avaliacao {
  display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin-top: -25px;
    padding: 20px;
    justify-content: flex-start;
    background-color: #f1f5f9;
    box-sizing: border-box
}

.card-avaliacao {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 1.5em;
  margin-bottom: 1rem;
  box-sizing: border-box;
  background-color: white;
  width: 100%;
  transition: transform 0.2s;
  text-align: left;
}

.form-input {
  padding: 10px 12px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  background-color: #f9fafb;
  font-size: 0.95rem;
  color: #111827;
  width: 100%;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  transition: all 0.2s ease-in-out;
  
  /* remove estilos nativos diferentes */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* Ícone de calendário customizado, igual ao select */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='gray' viewBox='0 0 24 24'%3E%3Cpath d='M7 10h5v5H7zm6 0h5v5h-5z'/%3E%3Cpath d='M19 3h-1V1h-2v2H8V1H6v2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 18px;
}

/* Foco igual ao select */
.form-input:focus {
  border-color: #2563eb;
  outline: none;
}

@media (max-width: 720px) {
  .quill {
    height: 250px !important;
  }
}