.bottom-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid #282829;
  background-color: #282829;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

.bottom-menu a,
.bottom-menu .menu-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #edecea;
  font-size: 12px;
  background: none;
  border: none;
  cursor: pointer;
}

.bottom-menu .ativo {
  color: #2ecc71;
}

.bottom-menu-extra {
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  color: inherit;
}

.bottom-menu-extra span {
  font-size: 0.7rem;
  color: #edecea;

}

.bottom-sheet-content ul {
  list-style: none;
  padding: 0;
}

.bottom-sheet-content ul li button {
  width: 100%;
  padding: 10px;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.bottom-menu {
  display: flex;
  align-items: center;
  justify-content: space-around; /* ou space-between, se quiser mais espaço */
  padding: 0.5rem 1rem;
}

.bottom-menu-logo img {
  height: 32px;   /* ajuste o tamanho */
  width: auto;
}

.bottomsheet-header {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.bottomsheet-header img {
  height: 50px;
  width: auto;
}