.user-search {
  position: relative;
  width: 100%;
  display: flex;
}

/* Modo modal: mais compacto */
.user-search.modal {
  margin: 0;
}

.user-search input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  color: #000;
  border-radius: 4px;
  font-size: 1rem;
}

/* Input mais compacto no modo modal */
.user-search.modal input {
  padding: 6px;
  font-size: 1rem;
  border-radius: 8px;
  padding: 0.5rem 0.8rem;
}

.dropdown {
  position: absolute;
  top: 38px;
  left: 0;
  right: 0;
  background: #edecea;
  border: 1px solid #ddd;
  border-top: none;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 9999;
  max-height: 200px;
  overflow-y: auto;
}

.dropdown li {
  padding: 8px;
  cursor: pointer;
  font-size: 14px;
}

.user-search.modal .dropdown li {
  padding: 6px 8px;
  font-size: 13px;
}

.dropdown li:hover {
  background-color: #f0f0f0;
}


/* Impede qualquer rolagem lateral */
.card-md {
  overflow-x: visible !important;
}
