.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.spinner {
  border: 4px solid #f3f3f3; /* cor de fundo */
  border-top: 4px solid #b7de42; /* cor da animação */
  border-radius: 50%;
  width: 40px;   /* 🔹 Ajuste o tamanho aqui */
  height: 40px;  /* 🔹 Ajuste o tamanho aqui */
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner-container p {
  margin-top: 10px;
  font-size: 16px;  /* 🔹 Ajuste o tamanho do texto */
  color: #333;
}
