.aceite-page {
  text-align: center;
  padding: 2rem;
}

.abrir-modal-btn {
  padding: .75rem 1.5rem;
  background: #4CAF50;
  color: #fff;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

/* Modal */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}

.modal-box {
  background: #fff;
  width: 90%;
  max-width: 700px;
  max-height: 90vh;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.modal-termos-header {
  font-size: 18px;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.modal-termos-header .fechar {
  border: none;
  background: transparent;
  font-size: 1.2rem;
  cursor: pointer;
}

.tabs {
  display: flex;
  border-bottom: 1px solid #ddd;
}

.tabs button {
  width: 100%;
  padding: .75rem;
  border: none;
  background: #eee;
  cursor: pointer;
  font-weight: 600;
  margin-right: 0;
}

.tabs .active {
  background: #fff;
  border-bottom: 2px solid #4CAF50;
}

.conteudo-scroll {
  padding: 1rem;
  overflow-y: auto;
  flex-grow: 1;
  max-height: 50vh;
}

.checkbox-area {
  padding: 1rem;
  border-top: 1px solid #ddd;
}

.checkbox-area label {
  display: flex;
  gap: .5rem;
  font-weight: 600;
}

.aceitar-termos-btn {
  background: #4CAF50;
  color: white;
  padding: 1rem;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  border-top: 1px solid #ddd;
  margin: 5px 20px;
}

.aceitar-termos-btn:disabled {
  background: #aaa;
  cursor: not-allowed;
}


.markdown-container {
  text-align: left;
  line-height: 1.6;
}

.markdown-container li {
  margin-bottom: 0.5rem;
}

.markdown-container p,
.markdown-container ul,
.markdown-container ol {
  margin-left: 0;
}